/*layout section*/
.container{
    font-size:23px;
}

/*Name Of User*/
#Name{
   font-size:23px;
   margin-top:25px;
   color:#4ea0ff;
   font-style:normal;
}

#Websitetitle {
    font-size: 23px;
    color: #4ea0ff;
    font-style: normal;
}

#Websitetitle:hover{
    color:blue;
}


/*Notification*/
.noti-content {
    position: fixed;
    right: 100px;
    background: gray;
    color: black;
    font-size: medium;
    font-family: Arial;
    border-radius: 4px;
    top: 47px;
    width: 440px;
    display: none;
    border: 1px solid #9E988B;
}

ul#notiContent {
    max-height: 400px;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
}

ul#notiContent li {
    margin: 3px;
    padding: 6px;
    background: white;
}

.noti-top-arrow {
    border-color: transparent;
    border-bottom-color: #F5DEB3;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    right: 32px;
    top: -8px;
}

span.noti {
    margin: 15px;
    position: fixed;
    right: 100px;
    font-size: 25px;
    cursor: pointer;
}

span.NotiCount {
    position: fixed;
    top: -1px;
}

span.noti:hover {
    color: white;
}
